body{
    margin: 0;
}
menu{
    width: 20%;
    height: 400px;
    li{
        height: 50px;
        border-bottom: solid 0.5px lightgray;
        a{
            text-decoration: none;
            color: rgb(143, 150, 168);
        }
    }
    
}