html{
    scroll-behavior: smooth;
}
body{   
    margin: 0;
}
    .home{
        background-image: url(https://preview.erilisdesign.com/html/petri/demo/images/image-2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }
        .bg{
            background-color: #030507;
            opacity: 0.4;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        .nav1{
            position: fixed;
            right: 100px;
            top: 0;
            width: 100%;
            height: 100px;
            background-color: rgba(0, 0, 0, 0.9);
            border-bottom: solid 1.5px rgba(122, 122, 122, 0.24);
            border-right: solid 1.5px rgba(122, 122, 122, 0.24);
            display: flex;
            align-items: center;
            z-index: 5;
        }
            .nav1>img{
                width: 126px;
                position: absolute;
                left: 200px;
            }
            .bar{
                width: 37px;
                height: 44px;
                position: absolute;
                right: 30px;
                background-color: transparent;
                border: none;
            }
            .bar>span{
                display: block;
                position: absolute;
                right: 0;
                margin: 0;
            }
                .bar>span:nth-child(1){
                    height: 2px;
                    top: 25%;
                    width: 100%;
                    border-top: solid 2px white;
                }
                .bar>span:nth-child(2){
                    height: 2px;
                    width: 70%;
                    top: 45%;
                    border-top: solid 2px white;
                }
                .bar>span:nth-child(3){
                    height: 2px;
                    top: 60%;
                    width: 50%;
                    border-bottom: solid 2px white;
                }
        .nav2{
            position: fixed;
            bottom: 100px;
            left: 0;
            width: 100px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 5;
        }
            .icon{
                display: flex;
                color: white;
                font-size: 18px;
                flex-direction: column;
                position: absolute;
                bottom: 30px;
                height: 168px;
                width: 100%;
                justify-content: space-between;
                align-items: center;
            }
        .info{
            color: white;
            text-align: center;
            font-family:'Open Sans', sans-serif;
            font-size: 17px;
            z-index: 2;
        }
            .info>h1{
                font-family: 'Montserrat', sans-serif;
                font-size: 48px;
                line-height: 60px;
                margin-bottom: 16px;
                margin-top: 50px;
                letter-spacing: 5px;
            }
            .info>p{
                margin-bottom: 48px;
                line-height: 34px;
                font-weight: bold;
                letter-spacing: 0.8px;
            }
            #button1{
                font-size: 14px;
                color: #232527;
                background-color: white;
                line-height: 28px;
                padding: 7px 22px;
                margin-right: 16px;
                border: solid 1px white;
                letter-spacing: 0.8px;
                display: inline-block;
                text-decoration: none;
            }
            #button2{
                font-size: 14px;
                line-height: 28px;
                padding: 7px 22px;
                margin: 0;
                background-color: transparent;
                color: white;
                border: solid 1px white;
                letter-spacing: 0.8px;
                display: inline-block;
                text-decoration: none;
            }
            #button2:hover{
                color: #232527;
                background-color: white;
                border: solid 1px white;
            }
        .note{
            color: white;
            position: absolute;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 14px;
            bottom: 10px;
            right: 35px;
            z-index: 2;
        }
    #blockbody{
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        z-index: 3;
        color: #232527;
        display: none;
    }
        #button3{
            width: 50px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.9);
            position: fixed;
            top: 25px;
            right: 25px;
            border: none;
            color: white;
            font-size: 14px;
            line-height: 50px;
            text-align: center;
            font-family:'Open Sans', sans-serif;
        }
        #button3:hover{
            color: #3c55e6;
            transition: 0.5s;
        }
        .container{
            margin: 0 50px;
            width: 85%;
        }
        .title{
            font-family: 'Montserrat', sans-serif;  
            font-size: 32px;
            font-weight: 300;
            line-height: 48px;  
            margin-bottom: 24px;
        }
        .text1{
            font-family:'Open Sans', sans-serif;
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
        }
        #name{
            height: 356px;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .work{
            background-color: #f7f7f7;
            height: 772px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .container>h1{
                margin-top: 50px;
            }
            .container>p{
                margin-bottom: 48px;
            }
            #table1{
                width: 100%;
                margin-bottom: 0;
                color: #232527;
            }
                tr{
                    height: 148px;
                    margin: 0;
                }
                td{
                    display: inline-block;
                    width: 50%;
                    padding: 0;
                }
                    .icon2{
                        font-size: 44px;
                        line-height: 44px;
                        margin-top: 0;
                        margin-bottom: 30px;
                    }
                    td>h2{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 20px;
                        line-height: 30px;
                        font-weight: 400;
                        margin-top: 0;
                        margin-bottom: 44px;
                    }
        #portfolio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .button4{
                border: none;
                border-bottom: solid 1px;
                text-align: left;
                background-color: transparent;
                padding-left: 0;
                padding-right: 27px;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                line-height: 28px;
                letter-spacing: 3px;
                margin-right: 27px;
            }
        #contact{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 80px 0;
        }
            #text2{
                font-family:'Open Sans', sans-serif;
                font-size: 14px;
                line-height: 28px;
                margin-bottom: 46px;
                font-weight: 400;
                width: 62%;
            }
            #table2{
                width: 100%;
                margin-bottom: 48px;
                color: #232527;
                margin: 0 -15px;
            }
            .cell2{
                width: 33.333%;
                margin: 0;
                padding: 0 15px;
                height: 154px;
                box-sizing: border-box;
            }
                .cell2>p{
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 400;
                    margin-top: 0;
                }
            #input{
                display: flex;
                flex-direction: column;
                justify-content: center;
            } 
                input{
                    font-size: 14px;
                    line-height: 28px;
                    font-family: 'Open Sans', sans-serif;
                    padding: 3px 12px;
                    border: solid 1px #cfd0d1;
                }  
                #input1{
                    margin-bottom: 15px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                    .input1a{
                        margin-right: 15px;
                        width: 100%;
                    }
                    .input1b{
                        margin-left: 15px;
                        width: 100%;
                    }
                #input2{
                    margin-bottom: 15px;
                } 
                #input3{
                    height: 212px;
                    resize: vertical;
                    overflow: auto;
                    padding: 7px 12px;
                    font-size: 14px;
                    line-height: 28px;
                    font-family: 'Open Sans', sans-serif;
                    border: solid 1px #cfd0d1;
                    margin-bottom: 40px;
                }
            #button5{
                background-color: #3c55e6;
                width: 140px;
                color: white;
                border: none;
                font-size: 14px;
                line-height: 28px;
                font-family: 'Open Sans', sans-serif;
                padding: 7px 22px;                    
                display: inline-block;

            }
            
@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
    .nav1{
        right: 0;
        height: 74px;
    }
        .nav1>img{
            left: 30px;
        }
    .nav2{
        display: none;
    }
    .home{
        position: relative;
    }
        .note{
            display: none;
        }
    #blockbody{
        position: relative;
        width: 100%;
    }
        #name{
            margin-top: 0;
        }
        .container2{
            max-width: 960px;
        }
            #text2{
                width: 100%;
            }
}

@media (max-width: 990px) {
    .container{
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 580px;
    }
    .home{
        height: 420px;
    }
        .bg{
            height: 420px;
        }
        .info{
            margin-top: 50px;
        }
            #button1{
                margin-right:0;
            }
}

@media (max-width: 470px) {
    .container{
        max-width: 580px;
    }
    .home{
        height: 480px;
    }
        .bg{
            height: 480px;
        }
        .info{
            width: 90%;
            margin-top: 20px;
        }
        #button1{
            width: 100%;
            display: block;
        }
        #button2{
            width: 100%;
            display: block;
            margin-top: 20px;
        }
}