form{
    width: 50%;
    height: 200px;
    background-color: rgb(40, 158, 255);
    margin: auto;
    border-radius: 25px;
    margin-top: 100px;
}
#answer{
    width: 50%;
    background-color: rgb(111, 190, 255);
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 25px;
}
strong{
    font-size: 20px;
    text-align: center;
    font-family: cursive;
    padding-top: 20px;
    display: block;
}
span{
    text-align: center;
    display: inline-block;
    width: 60px;
}
input{
    display: inline-block;
    width: 25%;
}

#b1{
    text-align: center;
    padding: 25px 0 25px 0;
}
.b2{
    padding: 5px 0 5px 0;

    display: block;
    text-align: center;
}

button{
    background-color: rgb(121, 121, 121);
    text-align: center;
    width: 25%;
    padding: 5px 15px 5px 15px;
    margin: auto;
    display: block;
}
ul{
    text-align: left;
}