form{
    border: black solid;
    width: 50%;
    height: 200px;
    background-color: pink;
    margin: auto;

}

span{
    text-align: center;
    display: inline-block;
    width: 60px;
}
input{
    display: inline-block;
}

#b1{
    text-align: center;
    padding: 50px 0 25px 0;
}
.b2{
    padding: 5px 0 5px 0;

    display: block;
    text-align: center;
}

button{
    background-color: green;
    text-align: center;
    width: 25%;
    padding: 5px 15px 5px 15px;
    margin: auto;
    display: block;
}